<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.cart.mapper.CartMapper">
	<select id="selectList" resultType="cart" parameterType="int">
  		select c.cart_no, c.quantity, c.book_no, c.member_no, b.name, b.price, b.img
		from cart c join book b on c.book_no = b.book_no
		where member_no = #{memberNo}
		order by 1
  	</select>
	
	<insert id="insertCart" parameterType="cart">
  		insert into cart values (cart_seq.nextval, #{quantity}, #{bookNo}, #{memberNo})
  	</insert>
  	
  	<delete id="deleteCart" parameterType="int">
  		delete from cart where cart_no = #{cartNo}
  	</delete>
  	
  	<update id="updateCart" parameterType="cart">
  		update cart set quantity = #{quantity} where cart_no = #{cartNo}
 	</update>
 	
 	<select id="checkCart" resultType="cart" parameterType="cart">
    	select * from cart 
    	where member_no = #{memberNo} and book_no = #{bookNo}
	</select>

</mapper>  