<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.search.mapper.SearchMapper">
	<select id="selectKeyword" resultType="search" parameterType="string">
		select * from search where sdt=#{today} order by 4 desc
	</select>
	
	<select id="selectList" resultType="book" parameterType="string">
		select * from book where name like '%'||#{keyword}||'%'
	</select>
</mapper>