<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "c:/dev/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.book.mapper.BookMapper"> <!-- 네임스페이스가 자바에서 패키지 역할. -->
	<select id="selectList" resultType="book">
		select * from book order by 1
	</select>
	
	<select id="selectBestList" resultType="book">
		
	select b.* , c.*
	from book b ,  cart c 
	where b.book_no = c.book_no
	order by c.quantity desc
	</select>
	<select id="selectNewList" resultType="book">
	select * from book
	where dt > '2023/12/31'
	order by dt desc
	</select>
	<select id="selectGenreList" resultType="book">
	select * from book
	where category = #{category} order by 1
	</select>
	
	
</mapper>

<!-- 닫으면 에러 없어짐.. -->