<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "c:/dev/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.book.mapper.BookMapper"> <!-- 네임스페이스가 자바에서 패키지 역할. -->
	<!--기본 리스트 출력 -->
	<select id="selectList" resultType="book">
		select * from book order by 1
	</select>
	<!-- 베스트셀러 출력 -->
	<select id="selectBestList" resultType="book">
	select rownum, cnt ,b.* 
	from (
     select  book_no,count(quantity) as cnt
        from  order_item         
        group by book_no  
        order by 2 desc  
   ) o,book b  
   where b.book_no = o.book_no
   <![CDATA[
    and rownum <=12
   ]]>
	</select>
	<!-- 신간 출력 -->
	<select id="selectNewList" resultType="book">
	select * from(
		select rownum as rank,b.*from
		(select *   
		from book
		where dt > sysdate-7
		order by dt desc)b)
		 <![CDATA[
		where rank >(1-1) and rank <= 10
		  ]]> 
	</select>
	
	<!-- 장르별 출력 -->
	<select id="selectGenreList" resultType="book" parameterType="book">
	select * from book
	<where>
    <foreach item="item" index="index" collection="categories"
        open="category in (" separator="," close=")" nullable="true">
          #{item}
    </foreach>
  </where>
	</select>
	
	<!-- 페이징 용 -->
<select id="selectPageList" resultType="book" >
	select b.* from(
select rownum as r,a.*
from
(select *   
from book
<where>
    <foreach item="item" index="index" collection="categories"
        open="category in (" separator="," close=")" nullable="true">
          #{item}
    </foreach>
  </where>
order by 1)a)b
  <![CDATA[
  where b.r > (#{page}-1)*10  AND b.r <= #{page}*12
  ]]> 
</select>

	<!-- 총 게시글 갯수 출력 -->
<select id="selectCount" resultType="int" parameterType="book">
	SELECT COUNT(*) FROM BOOK
	<where>
    <foreach item="item" index="index" collection="categories"
        open="category in (" separator="," close=")" nullable="true">
          #{item}
    </foreach>
  </where>
</select>

</mapper>

<!-- 닫으면 에러 없어짐.. -->