<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.book.mapper.BookMapper"> <!-- 네임스페이스가 자바에서 패키지 역할. -->
	<select id="selectList" resultType="string">
		select 'yyy' from dual
	</select>
	
	
</mapper>

<!-- 닫으면 에러 없어짐.. -->