<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.order.mapper.OrderMapper">
	<select id="selectList" resultType="order" parameterType="int">
		select * from orders where member_no = #{memberNo}
		order by 1 desc
	</select>

	<insert id="insertOrder" parameterType="order">
		insert into orders values (#{odNo}, #{odTg}, #{odAd}, #{odt}, #{odStatus}, #{odPrice}, #{usePoint}, #{odTotal}, #{memberNo}, #{phone})
	</insert>

	<select id="checkOrderNo" resultType="String" parameterType="int">
		select od_no from (select * from orders where member_no = #{memberNo} order by 1
		desc)
		where rownum = 1
	</select>

	<update id="updatePoint" parameterType="order">
		update member set point = #{point} where member_no = #{memberNo}
	</update>

	<delete id="deleteOrder" parameterType="int">
  		delete from orders where od_no = #{odNo}
  	</delete>
  	
  	<delete id="deleteOrderItem" parameterType="int">
  		delete from order_item where od_no = #{odNo}
  	</delete>
	
</mapper> 